.box{
    display: grid;
    /* grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr); */
     border: 2px solid red;
    height: 600px;
    width: 800px;
   
}

/* .box1{
    height:auto;
    width: auto;
    border: 3px dotted rgb(2, 2, 31);
    background-color: rgb(7, 207, 131);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */

/* } */
.box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
     height:100px;
    width: 100px;
    border: 3px solid rgb(19, 2, 59);
    background-color: rgb(235, 149, 20);
}
.a{
    border: 3px dotted rgb(19, 2, 59);
    background-color: rgb(238, 255, 0);
    display: flex;

   
}
.i1{
height: 100px;
    width: 100px;;
}

.b{
    height:auto;
    width: auto;
    border: 3px dotted rgb(19, 2, 59);
    background-color: rgb(238, 255, 0);
    
}
.c{
    height:auto;
    width: auto;
    border: 3px dotted rgb(19, 2, 59);
    background-color: rgb(238, 255, 0);
}
.d{
    height:auto;
    width: auto;
    border: 3px dotted rgb(19, 2, 59);
    background-color: rgb(238, 255, 0);
}
/* .box3{

    height:150px;
    width: 150px;
    border: 3px dotted #0a0600;
    background-color: rgb(119, 0, 255);
}
.box4{
    height:100px;
    width: 100px;
    border: 3px dotted hsl(0, 0%, 15%);
    background-color: rgb(207, 137, 166);
}
.box5{
    height:100px;
    width: 100px;
    border: 3px dotted #252525;
    background-color: rgb(243, 210, 202);
} */